#movies img{
  width:70%;
}
#movie img{
	width: 100%;
}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height:240px;
  }
}
#movies1 img{
  width:65%;
}

#movie1 img{
	width:100%;
}

@media(min-width:960px){
  #movies1 .col-md-3 .well{
    height: 390px;
  }

  #movies1 .col-md-3 img{
    height:240px;
  }
}

#movies2 img{
  width:65%;
}

#movie2 img{
	width:100%;
}

@media(min-width:960px){
  #movies2 .col-md-3 .well{
    height: 390px;
  }

  #movies2 .col-md-3 img{
    height:240px;
  }
}

#movies3 img{
  width:65%;
}

#movie3 img{
	width:100%;
}

@media(min-width:960px){
  #movies3 .col-md-3 .well{
    height: 390px;
  }

  #movies3 .col-md-3 img{
    height:240px;
  }
}
